# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/src/.vs/ts-kafka/v15/.suo
/src/.vs/ts-kafka/v15/Browse.VC.db
/src/.vs/ts-kafka/v15/Browse.VC.opendb
/src/.vs/ts-kafka/v15/ipch/AutoPCH/e67575895c92eeaa/TS_KAFKA.ipch
/src/packages/librdkafka.redist.1.3.0/.signature.p7s
/src/packages/librdkafka.redist.1.3.0/build/librdkafka.redist.props
/src/packages/librdkafka.redist.1.3.0/build/native/include/librdkafka/rdkafka.h
/src/packages/librdkafka.redist.1.3.0/build/native/include/librdkafka/rdkafka_mock.h
/src/packages/librdkafka.redist.1.3.0/build/native/include/librdkafka/rdkafkacpp.h
/src/packages/librdkafka.redist.1.3.0/build/native/librdkafka.redist.targets
/src/packages/librdkafka.redist.1.3.0/librdkafka.redist.1.3.0.nupkg
/src/ts-kafka/.vs/ts-kafka/v15/.suo
/src/ts-kafka/.vs/ts-kafka/v15/Browse.VC.db
/src/ts-kafka/ts-kafka.vcxproj.user
/src/ts-kafka/x64/Debug/ts-kafka.tlog/ts-kafka.lastbuildstate
/src/ts-kafka/x64/Debug/ts-kafka.tlog/ts-kafka.write.1u.tlog
/src/ts-kafka/x64/Debug/ts-kafka.vcxproj.CopyComplete
/src/.vs/ts-kafka/v15/ipch/7bf5cda9909129dc.ipch
/src/.vs/ts-kafka/v15/ipch/AutoPCH/1f6f0244a47e30f/MAIN.ipch
/src/ts-kafka-test/ts-kafka-test.vcxproj.user
/src/ts-kafka-test/x64/Debug/ts-kafka-test.tlog/CL.command.1.tlog
/src/ts-kafka-test/x64/Debug/ts-kafka-test.tlog/CL.read.1.tlog
/src/ts-kafka-test/x64/Debug/ts-kafka-test.tlog/CL.write.1.tlog
/src/ts-kafka-test/x64/Debug/ts-kafka-test.tlog/link.command.1.tlog
/src/ts-kafka-test/x64/Debug/ts-kafka-test.tlog/link.read.1.tlog
/src/ts-kafka-test/x64/Debug/ts-kafka-test.tlog/link.write.1.tlog
/src/ts-kafka-test/x64/Debug/ts-kafka-test.tlog/link-cvtres.read.1.tlog
/src/ts-kafka-test/x64/Debug/ts-kafka-test.tlog/link-cvtres.write.1.tlog
/src/ts-kafka-test/x64/Debug/ts-kafka-test.tlog/link-rc.read.1.tlog
/src/ts-kafka-test/x64/Debug/ts-kafka-test.tlog/link-rc.write.1.tlog
/src/ts-kafka-test/x64/Debug/ts-kafka-test.tlog/ts-kafka-test.lastbuildstate
/src/ts-kafka-test/x64/Debug/ts-kafka-test.tlog/ts-kafka-test.write.1u.tlog
/src/ts-kafka-test/x64/Debug/ts-kafka-test.tlog/unsuccessfulbuild
/src/ts-kafka-test/x64/Debug/vc141.idb
/src/ts-kafka-test/x64/Debug/vc141.pdb
/src/x64/Debug/ts-kafka-test.pdb
/src/.vs/ts-kafka/v15/Solution.VC.db
/src/.vs/ts-kafka/v15/Solution.VC.db-shm
/src/.vs/ts-kafka/v15/Solution.VC.db-wal
/src/.vs/ts-kafka/v15/ipch/AutoPCH/23a6c2286744d66a/CONSUMER.ipch
/src/.vs/ts-kafka/v15/ipch/AutoPCH/54d51c135dc3c5fc/TS_PRODUCER.ipch
/src/.vs/ts-kafka/v15/ipch/AutoPCH/92ae3f464f95fdf/TS_PRODUCER.ipch
/src/.vs/ts-kafka/v15/ipch/AutoPCH/97b2d34855a3c849/TS_CONSUMER.ipch
/src/ts-kafka/x64/Debug/ts-kafka.idb
/src/ts-kafka/x64/Debug/ts-kafka.pdb
/src/ts-kafka/x64/Debug/ts-kafka.tlog/CL.command.1.tlog
/src/ts-kafka/x64/Debug/ts-kafka.tlog/CL.read.1.tlog
/src/ts-kafka/x64/Debug/ts-kafka.tlog/CL.write.1.tlog
/src/ts-kafka/x64/Debug/ts-kafka.tlog/Lib.command.1.tlog
/src/ts-kafka/x64/Debug/ts-kafka.tlog/Lib-link.read.1.tlog
/src/ts-kafka/x64/Debug/ts-kafka.tlog/Lib-link.write.1.tlog
/src/x64/Debug/ts-kafka.pdb
