# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/src/.vs/ts-kafka/v15/.suo
/src/.vs/ts-kafka/v15/Browse.VC.db
/src/.vs/ts-kafka/v15/Browse.VC.opendb
/src/.vs/ts-kafka/v15/ipch/AutoPCH/e67575895c92eeaa/TS_KAFKA.ipch
